<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/stories" class="brand-logo center">StoryBook</a>
      <a href="#" data-target="main-menu" class="sidenav-trigger show-on-large left">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-small-only">
        {{#if user}}
          <li>
            <a href="/dashboard">Welcome {{user.firstName}}</a>
          </li>
          <li>
            <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        {{else}}
          <li>
            <a href="/stories"><i class="fas fa-book-open"></i> Public Strories</a>
          </li>
        {{/if}}
      </ul>
      {{!-- Side menu --}}
      <ul class="sidenav" id="main-menu">
        {{#if user}}

        {{else}}
          <li>
            <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i> Login with Google</a>
          </li>
        {{/if}}
          <li>
            <a href="/stories"><i class="fas fa-book-open"></i> Public Strories</a>
          </li>
          <li class="divider"></li>
        {{#if user}}
          <li>
            <a href="/dashboard"><i class="fas fa-cog"></i> Dashboard</a>
          </li>
          <li>
            <a href="/stories/my"><i class="fas fa-user"></i> My Stories</a>
          </li>
          <li>
            <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

