<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/8060d5499a.js" crossorigin="anonymous"></script>
  <title>StoryBook</title>
</head>
<body>
  <header>
    {{> _header}}
  </header>
  {{#if user}}
    {{> _add-btn}}
  {{/if}}
  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>
  {{> _footer}}
  
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
  <script type="text/javascript">
    $(() => {
      $('.sidenav').sidenav();
      $('select').formSelect();
    })
    
    CKEDITOR.replace('body', {
      plugins: 'wysiwygarea,toolbar,basicstyles,link'
    })</script>
</body>
</html>